<?xml version="1.0"?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<magoarab_ordertracking>
			<general>
				<enabled>1</enabled>
				<title>Track order</title>
				<description>You can track your order using your order number, email or mobile number.</description>
			</general>
			<tracking_options>
				<allow_order_id>1</allow_order_id>
				<allow_email>1</allow_email>
				<allow_mobile>1</allow_mobile>
				<enable_captcha>1</enable_captcha>
				<captcha_threshold>3</captcha_threshold>
				<max_attempts>5</max_attempts>
				<lockout_duration>15</lockout_duration>
				<mobile_validation>1</mobile_validation>
				<mobile_min_length>10</mobile_min_length>
				<mobile_max_length>15</mobile_max_length>
				<mobile_allowed_formats>digits_only,international,local</mobile_allowed_formats>
			</tracking_options>
		</magoarab_ordertracking>
	</default>
</config>